<html>
  <head>
    <title>Python Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Python Careers</h1>
      <img class="img-fluid" id="banner" src="static/banner.jpg">
      <h2 class="text-center mt-2 mb-4">About Python</h2>
      <p class="lead">
          Python has become one of the most popular programming languages in recent years, and for good reason. Its simplicity, readability, and versatility make it a joy to work with, whether you're a seasoned developer or just starting out.
        With Python, you can build anything from web applications and data analysis tools to machine learning models and automation scripts.
        Its vast library of modules and packages makes it easy to find solutions to almost any problem you encounter, while its large community of developers means you'll never be short of help or inspiration.
        Whether you're looking to jumpstart your career or take it to the next level, Python is a language that's sure to open up new opportunities and possibilities.
      </p>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <p>TODO - Shows the jobs here</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact</button>
          <p class="mt-4">Copyright 2022, Python Careers</p>
      </div>
    </div>
  </body>
</html>